body{
    background-color: #daebcd;
}
.myRow
{
   /*  background-color: lightgreen; */

}


h1
{
    padding-top: 50px;
}


.myCol
{
    /* outline: dashed black; */
}


.buttonStyle
{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

.textbox
{

    margin: auto;


    /* width: 35vw;
    height: 10vh;
    margin-left: auto; */
}

@media screen and (min-width: 768px)
{
    .textbox
    {
        margin: 0;
        width: 35vw;
    height: 10vh;
    margin-left: auto;
    }
}

textarea
{
    resize: none;
}


.wellProperties
{
    margin-top: 100px;
}

.samples
{
    margin:0px;
    margin-top: 50px;
    background-color: lightsteelblue;
    
}
@media screen and (min-width: 768px)
{
    .samples
    {
        
        width: 45vw;
        margin-left: auto;
        float: right;
        bottom: 150px;
        
    }

    #outputWell
    {
        float: left;
    }

    #firstP
    {
        height: 100px;

    }
}

h3
{
    text-align: center;
}

@media print
{
    .samples
    {
        position: fixed;
        width: 45vw;
        margin-left: auto;
        float: right;
        bottom: 175px;
        right: 20px;
        
    }

}

